.error-screen {
  position: fixed;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  gap: 10px;
  color: var(--tg-theme-text-color);
}

.error-screen a {
    width: 210px;
}